<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keyword" content="弘毅健坤（北京）科技有限公司" />
	<meta name="description" content="经营范围：技术开发、技术转让、技术咨询、技术服务、技术推广；市场调查；经济贸易咨询；投资咨询；企业管理咨询；计算机技术培训；基础软件服务；应用软件服务；销售计算机、软件及辅助设备。（未取得行政许可的项目除外）" />

	<!-- TODO: -->
	<link rel="stylesheet" href="/stylesheets/common.css" type="text/css" />

    </head>

    <body>

	<div class="topWrapper">
	    <div class="logo">
		<!-- TODO: -->
		<a href="">弘毅健坤</a>
	    </div>	
	    <ul class="navBar">

		<li><a>&nbsp;</a></li>
		<li><a href="index.html">首页</a></li>
		<li><a href="introduction.html">公司简介</a></li>
		<li><a href="services.html">产品展示</a></li>
		<li><a href="career.html">求贤纳士</a></li>
		<li><a href="contact.html">联系我们</a></li>
	    </ul>
	    
	</div>
	<div class="mainWrapper">

	    <div class="news">
		<h1>最新动态</h1>
		<h2>最后一次头条？暴风影音要上市</h2>
		<p>看起来，要上市了，准备创业板上市。根据招股书内容，拟公开发行1000万股，募集1亿元。</p>
		<h2>2013财年净利增20%</h2>
		<p>6月9日早间消息，披露公司2013年经营业绩。</p>
		<h2>增游戏平台</h2>
		<p>近日，由推出的游戏再次更新，推出2.7正式版。</p>
		<h2>新安卓恶意软件可对文件加密。</h2>
		<p>6月9日消息，据国外媒体报道，网络信息安全研究人员日前发现一种新的Android恶意软件。</p>
	    </div>
	    <div class="followUs">
		<h1>关注我们</h1>
		<ul>
		    <div class="personIcon">
			<a href=""><img src=""></img></a>
		    </div>
		    <div class="personInfo">
			<a href=""><div class="name">gy</div></a>
			<div class="signature">blabla</div>
			<div class="followMe"></div>
		    </div>
		</ul>
	    </div>

	    <div class="innerWrapper">
		<div class="services">
		    <h1>服务</h1>
		    <ul>
			<li><a href="">应用开发和维护</a></li>
			<li><a href="">ERP实施与咨询</a></li>
			<li><a href="">软件全球化与本地化</a></li>
			<li><a href="">专业测试与性能</a></li>
			<li><a href=""> 前端解决方案</a></li>
		    </ul>
		</div>

		<div class="products">
		    <h1>重点项目</h1>
		    <h2>手游</h2>
		    <p>#707f89#707f89如同企业或公司的“Logo”一样，企业网站代表了企业的形象，企业网站设计也是企业的一项无形资产。在 高度信息化的社会里，单纯以传统表现方式取胜的企业识别手段已不能解决现代社会呈现的 市场多样化问题。互联网形象的树立已经成为企业宣传中的一项重要内容，企业在互联网上 建设自己的主页和网站已成为必然的趋势。企业通过在网络空间的新闻板块、电子名片的随 时更新以及系列产品的充分展示，将获得更多的商机；企业标准形象贯穿整个网站，更能加 深它在访问者心中的认知度。据权威部门调查显示，那些建有网站并且网站设计质量较高的 企业比那些还没有建立网站或者网站质量低的企业其商务贸易额要高出47.5个百分点。 网站建设对企业和公司如此重要，建立有自己特色的、质量上乘的网站已成为当务之急，而 网站建设后的推广工作也是让人们了解企业，了解企业网站的重要途径。</p>
		</div>
	    </div>
	    
	</div>
	<div class="bottomBar">
	    <!-- TODO: -->
	    Copyright &copy; 2014 HongYiJianKun Inc.All rights reserved 京备
	</div>
    </body>
</html>
