{% extends 'layout.html' %}

{% block title %}HomePage{% endblock %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="../stylesheets/index.css">
<script src="../javascripts/responsive.js"></script>
<script src="../javascripts/index.js"></script>

{% endblock %}

{% block content %}
<div class="rslides_container">
    <ul class="rslides">
	<li>
            <img src="../images/01.jpg" alt="">
            <p class="caption">This is a caption</p>
	</li>
	<li>
            <img src="../images/02.jpg" alt="">
            <p class="caption">This is another caption</p>
	</li>
	<li>
            <img src="../images/03.jpg" alt="">
            <p class="caption">The third caption</p>
	</li>
    </ul>
</div>

<div class="main">
    <div class="box" id="news">
	<h1>最新动态</h1>
	<h2>最后一次头条？暴风影音要上市</h2>
	<p>看起来，要上市了，准备创业板上市。根据招股书内容，拟公开发行1000万股，募集1亿元。</p>
	<h2>2013财年净利增20%</h2>
	<p>6月9日早间消息，披露公司2013年经营业绩。</p>
	<h2>增游戏平台</h2>
	<p>近日，由推出的游戏再次更新，推出2.7正式版。</p>
	<h2>新安卓恶意软件可对文件加密。</h2>
	<p>6月9日消息，据国外媒体报道，网络信息安全研究人员日前发现一种新的Android恶意软件。</p>
    </div>
    <div class="box" id="followUs">
	<h1>关注我们</h1>
	<a href="https://twitter.com/gy8409" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @gy8409</a>
    </div>

    <div class=box id="center_container">
	<div class="services">
	    <h1>服务</h1>
	    <ul>
		{% for item in sidebar %}
		<li><a href="{{ item.source }}" data-icon={{ item.icon }}>{{ item.innerHTML }}</a></li>
		{% endfor %}
	    </ul>
	</div>

	<div class="products">
	    <h1>重点项目</h1>
	    <h2>手游</h2>
	    <p>#707f89#707f89如同企业或公司的“Logo”一样，企业网站代表了企业的形象，企业网站设计也是企业的一项无形资产。在 高度信息化的社会里，单纯以传统表现方式取胜的企业识别手段已不能解决现代社会呈现的 市场多样化问题。互联网形象的树立已经成为企业宣传中的一项重要内容，企业在互联网上 建设自己的主页和网站已成为必然的趋势。企业通过在网络空间的新闻板块、电子名片的随 时更新以及系列产品的充分展示，将获得更多的商机；企业标准形象贯穿整个网站，更能加 深它在访问者心中的认知度。据权威部门调查显示，那些建有网站并且网站设计质量较高的 企业比那些还没有建立网站或者网站质量低的企业其商务贸易额要高出47.5个百分点。 网站建设对企业和公司如此重要，建立有自己特色的、质量上乘的网站已成为当务之急，而 网站建设后的推广工作也是让人们了解企业，了解企业网站的重要途径。</p>
	</div>
    </div>
</div>
{% endblock %}
