<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keyword" content="弘毅健坤（北京）科技有限公司" />
	<meta name="description" content="经营范围：技术开发、技术转让、技术咨询、技术服务、技术推广；市场调查；经济贸易咨询；投资咨询；企业管理咨询；计算机技术培训；基础软件服务；应用软件服务；销售计算机、软件及辅助设备。（未取得行政许可的项目除外）" />

	<title>{% block title %}欢迎来到弘毅健坤！{% endblock %}</title>

	{% block head %}

	<link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/common.css" type="text/css" />
	<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<script>
	 $(document).ready(function (){
	     $('#signin').click(function (){
		 $('.modal').modal('hide');
	     });
	 });
	</script>
	{% endblock %}

    </head>

    <body id={{ bodyId }}>
	<div class="topWrapper">
	    <div class="logo">
		<a href="/">弘毅健坤</a>
	    </div>
	    <div class="sign">
		<a href="#" data-toggle="modal" data-target="#signupModal" class="btn btn-link">注册</a>
		|
		<a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-link">登录</a>
	    </div>
	    <!-- signup modal -->
	    <div class="modal fade" id="signupModal" role="dialog" aria-labelledby="smodalLabel" aria-hidden="true">
		<form class="form-group" action="/signup" method="post">
		    <div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modalTitle" id="smodalLabel">注册</h4>
			    </div>
			    <div class="modal-body">
				<input type="text" name="username" class="form-control" placeholder="用户名" />
				<input type="text" name="email" class="form-control" placeholder="邮箱" />
				<input type="password" name="password" class="form-control" placeholder="密码" />
				<input type="password" class="form-control" placeholder="再次输入密码" />
			    </div>
			    <div class="modal-footer">
				<button id="signup" type="submit" class="btn btn-default">注册</button>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	    <!-- end of signup modal -->	
	    
	    <!-- login modal -->
	    <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="lmodalLabel" aria-hidden="true">
		<form class="form-group" action="/login" method="post">
		    <div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modalTitle" id="lmodalLabel">登录</h4>
			    </div>
			    <div class="modal-body">
				
				<input type="text" class="form-control" placeholder="邮箱" />
				<input type="password" class="form-control" placeholder="密码" />

			    </div>
			    <div class="modal-footer">
				<button type="" class="btn btn-link">忘记密码</button>
				<button id="signin" type="submit" class="btn btn-default">登录</button>
			    </div>
			</div>
		    </div>
		</form>
	    </div>
	    <!-- end of login modal -->

	    <ul class="navBar">
		<li><a>&nbsp;</a></li>
		<li><a href="index" id="indexLink">首页</a></li>
		<li><a href="introduction" id="introductionLink">公司简介</a></li>
		<li><a href="services" id="servicesLink">服务</a></li>
		<li><a href="career" id="careerLink">求贤纳士</a></li>
		<li><a href="contact" id="contactLink">联系我们</a></li>
		<li>
		    <form role="search" style="width: 15em; margin: 0.3em 2em;" method="post">
			<div class="input-group">
			    <input type="text" class="form-control" placeholder="Search" />
			    <div class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
			</div>
		    </form>	
		</li>
	    </ul>
	</div>

	<div class="mainWrapper">
	    {% block sidebar %}{% endblock %}
	    {% block content %}{% endblock%}
	</div>

	<div class="bottomBar">
	    <!-- TODO: -->
	    Copyright &copy; 2014 HongYiJianKun Inc.All rights reserved 京备
	</div>
    </body>
</html>
