* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

img {
    border: 0;
}

ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style: none; }

body {
    background: #f1f2eb;
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    color: #828c8f;
    min-width: 960px;
}

h1 {
    font-size: 1.5em;
    line-height: 1.8em;
    border-bottom: 0.1em solid #eee;
}

h2 {
    font-size: 1em;
    line-height: 1.8em;
    border-bottom: 0.1em solid #eee;
    color: #afb0a8;
}

p {
    font-size: 0.8em;
    line-height: 1.5em;
    color: #434c52;
}

.topWrapper {
    height: 8em;
    background: url("/images/icon.jpg") no-repeat right bottom;
    background-size: cover;
    border-top: 0.5em solid #707f89;
    position: relative;
}

.logo a {
    font-size: 4em;
    text-decoration: none;
    color: #707f89;
    margin-left: 1em;
    line-height: 2em;
}

.sign {
    position: absolute;
    top: 0;
    right: 2em;
}

.modal-body input {
    margin-top: 1em;
}

.navBar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3em;
    background: #707f89;
    margin-bottom: 0;
}

.navBar li {
    float: left;
}

#index a#indexLink,
#introduction a#introductionLink,
#services a#servicesLink,
#career a#careerLink,
#contact a#contactLink {
    background: #f1f2eb;
    color: #707f89;
}

.navBar a {
    text-decoration: none;
    color: #e0e4e6;
    
    display: block;
    height: 3em;
    line-height: 3em;

    width: 6em;
    text-align: center;

    border-right: 0.1em solid #ccc;
}

.navBar a:hover {
    background: #707f89;
    color: #fff;
}

.mainWrapper {
    clear: both;
    max-width: 1024px;
    margin: 0 auto;
}

.footer {
    height: 6em;
    /* background: -webkit-gradient(linear, 0 0, 0 100%, from(Black), to(Gray)); */
    /* background: -moz-linear-gradient(top, Black, Gray); */
    background: #828c8f;
    color: #fff;
    text-align: center;
    margin-top: 1em;
}

